# Byte-compiled
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

.vscode

.DS_Store

# Virtual Environment
venv_SMCA/

#A folder for recording videos of the SMCA tests
Videos

#just a file to test the temporary things
test.py

CSV